<% @users.each do |user| %> 
<div class="users"> 
<h1>
Informations of the user: <%= user.user_id %>
</h1>
 <p class="user_id"> Id number: <%= user.user_id %></p> 
 <p class="first_name">  First Name: <%= user.first_name %></p> 
 <p class="last_name"> Surname:  <%= user.last_name %></p> 
 <p class="service"> service : <%= user.service %></p> 
 <p class="user_tel"> Tel:  <%= user.user_tel %></p>
 <p class="user_mail"> mail:  <%= user.user_mail %></p>
 <p class="office"> office: <%= user.office%></p>
 <p class="certificate_name"> certificate name: <%= user.certificate_name%></p>
 <p class="password"> password (has to be hidden): <%= user.password%></p>
</div> 
<% end %>